.input {
  width: 100%;
  border: 1px solid var(--clr-surface-800);
  padding: 0.5rem 1rem;
  background: var(--clr-surface-900);
  border-radius: var(--radius-lg);

  &[data-align='left'] {
    text-align: left;
  }

  &[data-align='center'] {
    text-align: center;
  }

  &[data-align='right'] {
    text-align: right;
  }
}

input:focus {
  border-color: var(--clr-surface-700);
  outline: none;
}

.btn {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
  justify-content: center;

  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--radius-lg);
  border-width: 1px;
  border-style: solid;

  font-weight: 600;
  text-wrap: nowrap;

  transition: color 50ms linear;

  &.btn-primary {
    background: var(--clr-primary);
    color: var(--clr-text-dark-muted);
    border-color: var(--clr-primary);

    &:hover {
      color: var(--clr-text-dark);
    }

    &:disabled {
      --clr-disabled: oklch(from var(--clr-primary) max(l - 0.15, 0) c h);

      background: var(--clr-disabled);
      border: var(--clr-disabled);
    }

  }

  &.btn-secondary {
    background: var(--clr-surface-700);
    color: var(--clr-text-light-muted);
    border-color: var(--clr-surface-600);

    &:hover {
      color: var(--clr-text-light);
    }

    &:disabled {
      --clr-disabled: var(--clr-surface-900);

      background: var(--clr-disabled);
      border-color: var(--clr-disabled);
      color: var(--clr-surface-600);
    }
  }

  &.btn-dangerous {
    --clr-text: oklch(30% 0.5 20);
    --clr-background: oklch(from var(--clr-text) max(l - 0.3, 0.0) max(c - 0.2, 0.0) h);

    background: var(--clr-background);
    color: var(--clr-text);
    border-color: oklch(from var(--clr-text) 0 c h);

    &:hover {
      color: oklch(from var(--clr-text) min(l + 0.2, 1.0) c h);
    }
  }
}
