:root {
  --max-content-width: 50em;
  --content-padding: 1rem;
  --content-width: min(var(--max-content-width), 100% - (var(--content-padding) * 2));

  /* FONT FAMILIES */
  --font-sans: "Poppins", sans-serif;
  --font-heading: "Archivo", var(--font-sans), sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* COLORS */
  --clr-primary: oklch(60% 0.08 60.0);

  --clr-background: oklch(from var(--clr-primary) max(l - 0.48, 0.0) max(c - 0.29) h);

  --clr-text-light: oklch(from var(--clr-primary) min(l + 0.5, 1.0) max(c - 0.055) h);
  --clr-text-light-muted: oklch(from var(--clr-text-light) max(l - 0.2, 0.0) max(c - 0.2) h);

  --clr-text-dark: oklch(from var(--clr-background) l min(c + 0.06, 1.0) h);
  --clr-text-dark-muted: oklch(from var(--clr-text-dark) min(l + 0.1, 1.0) c h);

  --clr-surface-950: oklch(from var(--clr-background) l c h);
  --clr-surface-900: oklch(from var(--clr-surface-950) min(l + 0.1) c h);
  --clr-surface-800: oklch(from var(--clr-surface-900) min(l + 0.05) c h);
  --clr-surface-700: oklch(from var(--clr-surface-800) min(l + 0.03) c h);
  --clr-surface-600: oklch(from var(--clr-surface-700) min(l + 0.1) c h);

  /* FONT SIZE */
  --text-normal: 1rem;
  --text-sm: 0.8rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;

  /* SPACING */
  --spacing-2: 0.5rem;
  --spacing-4: 1rem;
  --spacing-8: 2rem;
  --spacing-16: 4rem;

  /* BORDER RADIUS */
  --radius-lg: 0.75rem;
}

body {
  background: var(--clr-background);
  font-family: var(--font-sans);
  font-size: var(--text-normal);
  color: var(--clr-text-light-muted)
}

@keyframes spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.spin {
  animation: spin 1s linear infinite;

}

.row-2 {
  display: flex;
  gap: var(--spacing-2);
}

.stack {
  display: grid;
}

.stack-2 {
  display: grid;
  gap: var(--spacing-2);
}

.stack-16 {
  display: grid;
  gap: var(--spacing-16)
}


.mx-responsive {
  width: var(--content-width);
  margin-inline: auto;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
